<header>

	<h1><img src="{{ site.baseurl }}/assets/v6Icon.png">SPICE</h1>

	<p>Simplified Presentation of <br />Incredibly Complex Evaluations</p>

	<hr />
	<br />
		
	<ul>
	  <li><a href="{{ site.baseurl }}/v6/spice6.zip">Download <strong>SPICE 6.0</strong></a></li>
	  <li><a href="{{ site.baseurl }}/help">Read <strong>SPICE Help</a></strong></li>
	  <li><a href="{{ site.baseurl }}/v6/updates/releasenotes.html">View <strong>Release Notes</a></strong></li>
	</ul>

	<p>SPICE 6 requires <strong>MacOS / OS X 10.9 or Above</strong>. There are no plans to support Microsoft Windows.</p>
	   
	<hr />
	<br />
		
	<p>Read the <a href="http://onlinelibrary.wiley.com/doi/10.1002/cyto.a.21015/abstract">SPICE publication</a> in Cytometry. Cited over 400 times! (<a href="https://scholar.google.com/scholar?cites=11121392703810163050&as_sdt=5,47&sciodt=0,47&hl=en">see SPICE citations)</a></p>
	
	<p><em>Looking for SPICE 5? <a href="{{ site.baseurl }}/v5/spice5.zip">Download it here.</a></em></p>

</header>