<header>

	<h1><img src="/assets/v5Icon.png">SPICE</h1>

	<p>Simplified Presentation of <br />Incredibly Complex Evaluations</p>

	<hr />
	<br />
		
	<ul>
	  <li><a href="/v5/spice5.zip">Download <strong>SPICE 5.3</strong></a></li>
	  <li><a href="/v5/Moving%20from%20SPICE%204%20to%20SPICE%205%20Guide.pdf">Download <strong>Upgrade Guide</a></strong></li>
	  <li><a href="/v5/releasenotes.html">View <strong>Release Notes</a></strong></li>
	</ul>

	<p>SPICE requires <strong>MacOS / OS X 10.5 or Above</strong>. There are no plans to support Microsoft Windows.</p>
	   
	<hr />
	<br />
		
	<p>Read the <a href="http://onlinelibrary.wiley.com/doi/10.1002/cyto.a.21015/abstract">SPICE publication</a> in Cytometry.</p>

</header>