<head>
	<meta charset="utf-8">
	<!-- <meta name="language" content="English"> -->
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.ico">
	<title>SPICE - Simplified Presentation of Incredibly Complex Evaluations</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/niaid.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
	<meta name="viewport" content="width=device-width">
</head>
