<nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="nephele-topbar">
        <!-- <div class="pull-right">
         <button type="button" class="btn btn-link"><p style="color:white">Help</p></button>
        </div> -->
        <div class="site-topbar container-fluid">

             <a class=" btn btn-link hidden-sm hidden-xs" href="https://www.hhs.gov" target="_blank"><p style="color:white">U.S. Department of Health & Human Services</p></a>

             <button type="button" class="btn btn-link hidden-lg hidden-md"><a href="https://www.hhs.gov" target="_blank"><img class="" src="{{ site.baseurl }}/assets/hhs-logo-topbar.png" width="24.947" height="25" alt="logo"><!-- <img class="img-hhs" alt="hhs-logo"> --></a></button>

             <a class=" btn btn-link hidden-sm hidden-xs" href="https://www.nih.gov" target="_blank"><p style="color:white">National Institutes of Health</p></a>

             <button type="button" class="btn btn-link hidden-lg hidden-md"><a href="https://www.nih.gov" target="_blank"><img class="" src="{{ site.baseurl }}/assets/nih-logo-topbar.png" width="33.947" height="25" alt="logo"><!-- <img class="img-nih" alt="nih-logo"> --></a></button>

             <a class="btn btn-link hidden-sm hidden-xs" href="https://www.niaid.nih.gov" target="_blank"><p style="color:white">National Institute of Allergy &amp; Infectious Diseases</p></a>

             <button type="button" class="btn btn-link hidden-lg hidden-md"><a href="https://www.niaid.nih.gov" target="_blank"><img class="" src="{{ site.baseurl }}/assets/white_trans_back.png" width="24.947" height="25" alt="logo"><!-- <img class="img-niaid" alt="niaid-logo"> --></a></button>

             <a class=" btn btn-link hidden-sm hidden-xs" href="#" onclick="location.href= '/'; return false;" target="_blank"><p style="color:white"> bioinformatics @NIAID</p></a>

             <button type="button" class="btn btn-link hidden-lg hidden-md"><a href="#" onclick="location.href= '/'; return false;" target="_blank"><img class="" src="{{ site.baseurl }}/assets/white_bioinf_@_niaid.png" width="84.947" height="25" alt="logo"><!-- <img class="img-nbp" alt="nbp-logo"> --></a></button>

        </div>
      </div>
      </div>
      <div class="container-fluid">
     
        <div class="navbar-header">
          
          <a class="navbar-brand hidden-xs hidden-sm" href=""><img class="" src="{{ site.baseurl }}/assets/white_trans_back.png" width="59.694" height="50" alt="logo"><!-- <img class="img-brand-logo" alt="brand-logo"> --></a>
          <a class="navbar-brand" href="#">
            <address>
              <span class="nephele-logotype">SPICE - Simplified Presentation of Incredibly Complex Evaluations</span><br>
            </address>
          </a>
        </div>
        
      </div>
    </nav>