<!-- Site footer -->
    <footer class="main-niaid-footer">
        <div class="container alingment-center-footer">
        <!-- Three columns  -->
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <h6 class="footer-links-heading">connect</h6>
          
          <!-- Column One Media lINKS -->
          <ul class="list-inline footer-links">
            <li><a class="footer-links" href="https://www.facebook.com/niaid.nih" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a class="footer-links" href="https://twitter.com/NIAIDBioIT" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a class="footer-links" href=" https://plus.google.com/102227270892878421769" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
            <!--<li><a class="footer-links" href="#"><i class="fa fa-commenting fa-lg"></i></a></li>-->
            <li><a class="footer-links" href="https://www.youtube.com/channel/UC4xRg9e4mrYBZQUDUhBHNiQ" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a></li>
            <li><a class="footer-links" href="https://www.linkedin.com/company/national-institute-of-allergy-and-infectious-diseases-niaid" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="footer-links" href="https://www.pinterest.com/niaid/" target="_blank"><i class="fa fa-pinterest-p fa-lg"></i></a></li>
          </ul><!-- Column One Media lINKS -->
          
        </div><!-- /.col-sm-4 col-md-4 col-lg-4 -->
 
        <hr class="footer-columns-separator visible-xs">
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <h6 class="footer-links-heading">links</h6>
          
          <ul class="list-unstyled footer-links">

            <li><a class="footer-links" href="https://bioinformatics.niaid.nih.gov" target="_blank"> bioinformatics @NIAID</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov" target="_blank">NIAID Website</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/global/contact-us" target="_blank">Contact NIAID</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/global/website-help" target="_blank">Help</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/global/web-accessibility" target="_blank">Accessibility</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/privacy" target="_blank">Privacy Policy</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/global/website-disclaimer" target="_blank">Disclaimer</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/global/website-policies-and-notices" target="_blank">Website Links &amp; Policies</a></li>

            <li><a class="footer-links" href="https://www.niaid.nih.gov/global/freedom-information-act" target="_blank">FOIA</a></li>
          </ul>
        </div><!-- /.col-sm-4 col-md-4 col-lg-4 -->
        
        <hr class="footer-columns-separator visible-xs">
        
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <h6 class="footer-links-heading">related government sites</h6>
          
          <ul class="list-unstyled footer-links">
            <li><a class="footer-links" href="http://www.nih.gov" target="_blank">National Institutes of Health</a></li>
            <li><a class="footer-links" href="http://www.hhs.gov" target="_blank">U.S. Department of Health &amp; Human Services</a></li>
            <li><a class="footer-links" href="https://www.usa.gov" target="_blank">USA.gov</a></li>
          </ul>
        </div><!-- /.col-sm-4 col-md-4 col-lg-4 -->
      </div><!-- /.row -->
      
      <hr class="footer-col-hr">
      
      
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <p class="footer-nih-tagline">National Institutes of Health. . .<br>Turning Discovery Into Health<sup>&reg;</sup></p>
        </div><!-- /.col-sm-4 col-md-4 col-lg-4 -->
        
        <hr class="footer-columns-separator visible-xs">
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <address class="footer-address">
        National Institutes of Health (NIH), 9000 Rockville Pike,<br>
        Bethesda, Maryland 20892
      </address>
        </div><!-- /.col-sm-4 col-md-4 col-lg-4 -->
        
        <hr class="footer-columns-separator visible-xs">
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <ul class="list-inline">
            <li><a class="" href="https://www.usa.gov" target="_blank"><img class="img-responsive" src="{{ site.baseurl }}/assets/usagov-logo-topbar.png" width="100" height="30.4" alt="USA.gov"><!-- <img class="img-responsive img-usa-footer"  alt="USA logo"> --></a></li>

            <li><a class="" href="http://www.hhs.gov" target="_blank"><img class="img-responsive" src="{{ site.baseurl }}/assets/hhs-logo-topbar.png" width="30" height="36" alt="HHS.gov"><!-- <img class="img-responsive img-hhs-footer"  alt="HHS logo"> --></a></li>
            
            <li><a class="" href="http://www.nih.gov" target="_blank"><img class="img-responsive" src="{{ site.baseurl }}/assets/nih-logo-topbar.png" width="48" height="30" alt="NIH.gov"><!-- <img class="img-responsive img-nih-footer" alt="NIH logo"> --></a></li>
            
          </ul>
        </div><!-- /.col-sm-4 col-md-4 col-lg-4 -->
       </div>
       </div>
      </footer>
