<div id="sidebar">
	<div id="spiceheader">

		<h1><a href="{{ site.baseurl }}/" class="footer-links"><img src="{{ site.baseurl }}/assets/v6Icon.png" alt="SPICE Application Icon">&nbsp;SPICE</a></h1>

		<hr />
		<br />
		
		<ul>
		  <li><a href="{{ site.baseurl }}/PestleAndSPICE.zip">Download <strong>SPICE 6.0</strong></a></li>
		  <li><a href="{{ site.baseurl }}/help">Read <strong>SPICE Help</a></strong></li>
		  <li><a href="{{ site.baseurl }}/v6/updates/releasenotes.html">View <strong>Release Notes</a></strong></li>
		</ul>
		
		<br />
		<p>SPICE 6 requires <strong>MacOS / OS X 10.9 or Above</strong>. There are no plans to support Microsoft Windows.</p>
	   
		<br />
		<hr />
		<br />
		
		<p>Read the <a href="http://onlinelibrary.wiley.com/doi/10.1002/cyto.a.21015/abstract">SPICE publication</a> in Cytometry. Cited over 400 times! (<a href="https://scholar.google.com/scholar?cites=11121392703810163050&as_sdt=5,47&sciodt=0,47&hl=en">see SPICE citations</a>)</p>
	
		<p><em>Looking for Pestle? The new Pestle 2 is now included when you <a href="{{ site.baseurl }}/PestleAndSPICE.zip">download SPICE.</a></em></p>
		
		<p><em>Looking for SPICE 5? <a href="{{ site.baseurl }}/v5/spice5.zip">Download it here.</a></em></p>

	</div>
	<div id="spicefooter">

		<p><small>SPICE was written by <a href="http://joshua.nozzi.name">Joshua Nozzi</a> in collaboration with <a href="https://www.niaid.nih.gov/research/mario-roederer-phd-immunotechnology">Dr. Mario Roederer</a>, Senior Investigator of the ImmunoTechnology section of the Vaccine Research Center at the <a href="https://www.niaid.nih.gov">National Institute of Allergy and Infectious Diseases</a>.</small></p>
	
	</div>
</div>
