	<div id="spicefooter">

		<p><small>SPICE was written by <a href="http://joshua.nozzi.name">Joshua Nozzi</a> in collaboration with <a href="https://www.niaid.nih.gov/research/mario-roederer-phd-immunotechnology">Dr. Mario Roederer</a>, Senior Investigator of the ImmunoTechnology section of the Vaccine Research Center at the <a href="https://www.niaid.nih.gov">National Institute of Allergy and Infectious Diseases</a>.</small></p>
	
		<p><small>&copy; 2004 &mdash; 2018 NIAID</small></p>

	</div>
	