<!DOCTYPE html>
<html lang="en">

{% include help-head.html %}

<body>

	{% include niaidheader.html %}
	
	<div class="wrapper">
		<div class="row">
			<div class="col-md-4">
					{% include sidebar.html %}
			</div>
			<div class="col-md-8">
		
				<div class="help-header">
				
					{% include help-navigation.html %}
				
					<h1>SPICE Help - {{ page.title }}</h1>
				
				</div>
				
				{{ content }}
        
		
	        </div>
	    </div>
	</div>
	
	{% include niaidfooter.html %}
	
	<script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    
</body>
</html>
